ul {
    text-align: center;
    color: #222222;
    

}

li {
    display: inline;
    background-color: white;
}

p{
    color:white;
}

h1 {
    color: midnightblue;
}

body{
    background: midnightblue;
    font-family: verdana;

}